body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: url('./public/img.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    width: 100vw; /* Define a largura da imagem igual à largura da viewport */
    height: 100vh; /* Define a altura da imagem igual à altura da viewport */
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    background-color: rgba(18, 0, 121, 0.9); /* Semi-transparente para ver o fundo */
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav {
    background-color: rgba(3, 1, 105, 0.9); /* Semi-transparente para ver o fundo */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav .container {
    display: flex;
    justify-content: center;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: rgba(8, 0, 127, 0.9);
}

.banner {
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.banner h1 {
    font-size: 3em;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.banner p {
    font-size: 1.2em;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.content {
    padding: 20px 0;
}

.section {
    background: rgba(255, 255, 255, 0.9); /* Semi-transparente para ver o fundo */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section h2 {
    color: #000872;
    margin-top: 0;
}

.whatsapp-button {
    background-color: #25D366;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.whatsapp-button:hover {
    background-color: #1DA851;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    border-radius: 8px;
    margin-top: 10px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    background-color: rgba(0, 9, 90, 0.9); /* Semi-transparente para ver o fundo */
    color: white;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
}
/* Estilo para a seção "Sobre" */
.section-sobre {
    background-color: #f8f9fa; /* Cor de fundo */
    padding: 20px; /* Espaçamento interno */
    border-radius: 10px; /* Borda arredondada */
    margin-bottom: 20px; /* Espaçamento inferior */
}

/* Estilo para o título da seção "Sobre" */
.section-sobre h2 {
    color: #333; /* Cor do texto */
}

/* Estilo para o texto da seção "Sobre" */
.section-sobre p {
    color: #666; /* Cor do texto */
}

